<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Stukdo</h1>
  <blockquote>
    <p>Stukdo lets you work more collaboratively and get more done.</p>
    <p>Stukdo boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.</p>
  <blockquote>
  <%= link_to  "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>