<div class="jumbotron">
  <h1>Stukdo lets you work more collaboratively and get more done.</h1>
  <p>Stukdo boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.</p>
  <%= link_to  "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>